div.fl
  input.round.my_text_box(type='text')
  input.my_button.round.blue(type='button', value='搜    索')

div.fr
  input.my_button.round.blue(type='button', value='全    选')
  input.my_button.round.blue(type='button', value='全不选')

#companyView
