form#filterSelector
  input.round.default-width-input#factor(type='text', name='factor', placeholder='搜索...')

  span.width100　　　　
  span 公司选择：
  input.round.default-width-input#companySelector(type='text', name='companyId', placeholder='公司...')

div#userList
