
p &nbsp;&nbsp;&nbsp;&nbsp;
form#userNew
  .col-md-offset-2
    table.form
      tr
        td
          div.width80 姓名：
        td
          input.round.default-width-input(type='text', can-value='username' name='username' rangelength='2,10' required)
        td
          div.width80 别名：
        td
          input.round.default-width-input(type='text', can-value='cname' name='cname' rangelength='2,10' required)
      tr
        td
          div.width80 密码：
        td
          input.round.default-width-input(type='text', can-value='password'  name='password' rangelength='2,10' required)
        td
          div.width80 地址：
        td
          input.round.default-width-input(type='text', can-value='address'  name='address' rangelength='2,50' required)
      tr
        td
          div.width80 电话：
        td
          input.round.default-width-input(type='text', can-value='tel'  name='tel' rangelength='2,15' required)
        td
          div.width80 所属公司：
        td
          input.round.default-width-input#companySelector(type='text')
      tr
        td
          div.width80 所属角色：
        td
          select.round.default-width-input#roleSelector(multiple="multiple"  name='role' required)



  p &nbsp;&nbsp;&nbsp;&nbsp;

p &nbsp;

.col-md-offset-10.col-md-2
  button.button.round.blue.image-right.ic-add#newUser 保存
