form#filterSelector
  input.round.default-width-input#factor(type='text', name='factor', placeholder='搜索...')

  .companySel(style="display:inline")
    span 　公司：
    input.round.default-width-input#companySelector(type='text', name='companyId', placeholder='公司...')

div#userList
