doctype html
html(ng-app='stashApp')
  head
    meta(charset='utf-8')
    title Geodis非货仓储管理系统

    link(rel='stylesheet', href='lib/jquery-loading/dist/jquery.loading.css')
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/jquery-tokenize/jquery.tokenize.css')
    link(rel='stylesheet', href='lib/bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href='lib/magnific-popup/dist/magnific-popup.css')
    link(rel='stylesheet', href='lib/datetimepicker/jquery.datetimepicker.css')


    link(rel='stylesheet' href='public/js/plugins/jquery.alerts.css')

    link(rel='stylesheet' href='public/static/css/style.css')
    link(rel='stylesheet' href='public/static/css/common.css')
    link(rel='stylesheet' href='public/static/css/login.css')
    link(rel='stylesheet' href='public/static/css/home.css')

    script(data-main="./public/app.js", src='./lib/requirejs/require.js')

  body
