
#printArea
  p &nbsp;&nbsp;&nbsp;&nbsp;
  form#goodsOutCreate
    div
      table.form
        tr
          td
            div.width80 预计出库：
          td
            input.round.default-width-input#goodsOutDate(type='text', can-value='date', name='date', required)
          td
            div.width80 收货人：
          td
            input.round.default-width-input#consigneeSelector(type='text', name='desc', rangelength='2,50', required, placeholder='请选择...')
        tr
        tr
          td
            div.width100 客户订单编号：
          td
            input.round.default-width-input#customerBillnumber(type='text', can-value='customerBillnumber', name='customerBillnumber', required)
          td
            div.width80 备注：
          td
            input.round.default-width-input#desc(type='text', can-value='desc', name='desc', rangelength='2,50')
        tr
        tr
        tr
          td
            div.width80 库　　存：
          td(colspan=3)
            input.round#inventorySelector(type='text', style="width: 40em;", placeholder='请选择...')
          td
            div.width80 数量：
          td
            input.round.default-width-input#goodCount(type='text', name='goodCount' ,value=1, min=1, number=true, required='true')
        tr
        tr
        tr
          td(colspan=6)
            div.width100 自定义参数：
        tr.udf
          td(colspan=2)
            input.round.width300(name='udf1', type='text')
          td(colspan=2)
            input.round.width300(name='udf2', type='text')
          td(colspan=2)
            input.round.width300(name='udf3', type='text')
        tr.udf
          td(colspan=2)
            input.round.width300(name='udf4', type='text')
          td(colspan=2)
            input.round.width300(name='udf5', type='text')
          td(colspan=2)
            input.round.width300(name='udf6', type='text')

  button.button.round.blue.image-right.ic-add.pull-right#addToGoodsList 添加到清单
  p &nbsp;

    #goodsOutList
  p &nbsp;

  .row
    button.button.round.blue.image-right.ic-add.pull-right#createGoodsList 保存
    //- button.button.round.blue.image-right.ic-add.pull-right#printGoodsList 打印出货单
