html,body,.fullHeight {
    margin:0px;
    height:100%;
    width: 100%;
}

.text-center{
  text-align:center;
}

.width300 {
  width:300px;
}

.marginL50{
  margin-left: 50px;
}

.pull-left {
  right: auto;
  left: 0;
}

.pull-right {
  right: 0;
  left: auto;
}

