
p &nbsp;&nbsp;&nbsp;&nbsp;
form#categoryCreate
  .col-md-offset-2
    table.form
      tr
        td
          div.width80 种类名称：
        td
          input.round.default-width-input(type='text', can-value='name' name='name' rangelength='2,10' required)
        td
          div.width80 种类描述
        td
          input.round.default-width-input(type='text', can-value='desc' name='desc' rangelength='5,100' required)

  p &nbsp;&nbsp;&nbsp;&nbsp;

p &nbsp;

.col-md-offset-10.col-md-2
  button.button.round.blue.image-right.ic-add#createCategory 保存
