form#migrateForm
  .col-md-5
    div.col-md-12.pull-right
      span 原始库位：
      input.default-width-input#originalSelector(type='text')
    p &nbsp;
    div.col-md-12.pull-right
      label.col-md-12 商品名称：{{original.goodsVo.name}}
      label.col-md-12 ＳＫＵ　：{{original.goodsVo.sku}}
      label.col-md-12 商品数量：{{original.quantity}}
      label.col-md-12 库位名称：{{original.locationVo.name}}
      label.col-md-12 库位行　：{{original.locationVo.xcoord}}
      label.col-md-12 库位列　：{{original.locationVo.ycoord}}
      label.col-md-12 库位层　：{{original.locationVo.zcoord}}

  .col-md-5
    div.col-md-12.pull-left
      span 目标库位：
      input.default-width-input#targetSelector(type='text')
    p &nbsp;
    div.col-md-12.pull-left
      label.col-md-12 商品名称：{{target.goodsVo.name}}
      label.col-md-12 ＳＫＵ　：{{target.goodsVo.sku}}
      label.col-md-12 商品数量：{{target.quantity}}
      label.col-md-12 库位名称：{{target.locationVo.name}}
      label.col-md-12 库位行　：{{target.locationVo.xcoord}}
      label.col-md-12 库位列　：{{target.locationVo.ycoord}}
      label.col-md-12 库位层　：{{target.locationVo.zcoord}}

  .col-md-2
    span 转移数量：
    input.width60(type='number', can-value='quantity', min=1, max='{{original.quantity}}', number=true, required)

.col-md-12
  .pull-right
    button.button.round.blue.image-right.ic-add#migrate 确认转移
