form#filterSelector
  input.round.default-width-input#factor(type='text', name='factor', placeholder='搜索...')
  span.width40 　　 
  span 品牌：
  input.round.default-width-input#brandSelector(type='text', name='brandId')
  span.width40 　　 
  span 种类：
  input.round.default-width-input#categorySelector(type='text', name='categoryId')



#imageManager
#stockItemList
