form#filterSelector
  .companySel(style="display:inline")
    span 公司：
    input.round.default-width-input#companySel(type='text', name='companyId')
    span.width40　　
  span 商品：
  input.round.default-width-input#goodSel(type='text', name='goodsId')
  span.width40　　
  span 库位：
  input.round.default-width-input#locationSelector(type='text', name='locationId')

#stockList
