form#filterSelector
  input.round.default-width-input#factor(type='text', name='factor', placeholder='搜索自定义参数...')
  .companySel(style="display:inline")
    span 公司：
    input.round.default-width-input#companySel(type='text', placeholder='请选择...')
    input#companyId(type='hidden',name='companyId')
    span.width40　　
  span 商品：
  input.round.default-width-input#goodSel(type='text', placeholder='请选择...')
  input#goodsId(type='hidden', name='goodsId')
  span.width40　　
  span 库位：
  input.round.default-width-input#locationSelector(type='text', placeholder='请选择...')
  input#locationId(type='hidden',name='locationId')

  input#select.my_button.round.blue.text-upper(type='button', name='select', value='搜索', style='margin-left:5px;')

#stockList

.col-md-12
  button.button.round.blue.image-right.ic-add.pull-left#addCheck 添加选择到盘点
  a(href='#!home/stocksproducts/inventoryCheck').button.round.blue.image-right.ic-right-arrow.pull-right#addCheck 开始盘点
