form#filterSelector
  | 公司选择
  input.round.default-width-input#companySel(type='text', name='companyId', placeholder='搜索...')

  span　　　　商品选择
  input.round.default-width-input#goodSel(type='text', name='goodsId', placeholder='搜索...')

#stockList
