p &nbsp;&nbsp;&nbsp;&nbsp;
form#stockParams
  .col-md-offset-2
    table.form
      tr
        td
          div.width100 {{aliasArr.0}}：
        td
          input.round.default-width-input(type='text', can-value='stockData.udf1', name='udf1')
        td
          div.width100 {{aliasArr.1}}：
        td
          input.round.default-width-input(type='text', can-value='stockData.udf2', name='udf2')
      tr
        td
          div.width100 {{aliasArr.2}}：
        td
          input.round.default-width-input(type='text', can-value='stockData.udf3', name='udf4')
        td
          div.width100 {{aliasArr.3}}：
        td
          input.round.default-width-input(type='text', can-value='stockData.udf4', name='udf3')
      tr
        td
          div.width100 {{aliasArr.4}}：
        td
          input.round.default-width-input(type='text', can-value='stockData.udf5', name='udf5')
        td
          div.width100 {{aliasArr.5}}：
        td
          input.round.default-width-input(type='text', can-value='stockData.udf6', name='udf6')

p &nbsp;

.col-md-offset-10.col-md-2
  button.button.round.blue.image-right.ic-add#saveStock 保存