
p &nbsp;&nbsp;&nbsp;&nbsp;
div(style="display:{{page.StepCreate}};")
  form#stockItemCreate
    .col-md-offset-2
      table.form
        tr
          td
            div.width80 商品名称：
          td
            input.round.default-width-input(type='text', can-value='data.name', name='name', rangelength='2,10', required)
          td
            div.width80 危险品：
          td
            input.round(type='checkbox', can-value='data.hazardFlag' name='hazardFlag')
        tr
          td
            div.width80 条形码：
          td
            input.round.default-width-input(type='text', can-value='data.barcode', name='barcode', rangelength='2,50', required)
          td
            div.width80 商品体积：
          td
            input.round.default-width-input(type='text', can-value='data.volume' name='volume')
        tr
          td
            div.width80 商品重量：
          td
            input.round.default-width-input(type='text', can-value='data.weight' name='weight')
          td
            div.width80 计量单位：
          td
            input.round.default-width-input(type='text', can-value='data.uom' name='uom')
        tr
          td
            div.width80 所属品牌：
          td
            input.round.default-width-input#brandSelector(type='text', name='brand')
          td
            div.width80 所属种类：
          td
            input.round.default-width-input#categorySelector(type='text', name='category')
        tr
          td
            div.width80 所属库位：
          td
            input.round.default-width-input#locationSelector(type='text', name='location')

  .col-md-offset-10.col-md-2
    button.button.round.blue.image-right.ic-add#createStockItem 保存

div(style="display:{{page.StepUploadImage}};")
  p.text-center 上传商品图片
  input.file-loading#filePicker(type='file', accept="image/*" multiple)
  p &nbsp;
