
p &nbsp;&nbsp;&nbsp;&nbsp;
form#locationAdd
  div
    table.form
      tr
        td
          div.width80 库位名称：
        td
          input.round.default-width-input(type='text', can-value='name', name='name', rangelength='2,10', required)
      tr
        td
          div.width80 所属仓库：
        td
          input.round.default-width-input#warehouseSelector(type='text', name='warehouseVo', rangelength='2,50', required, placeholder='请选择...')
        td
          div.width80 所属公司：
        td
          input.round.default-width-input#companySelector(type='text', name='companyVo', rangelength='2,50', placeholder='请选择...')
      tr
        td
          div.width80 所在行：
        td
          input.round.default-width-input(type='text', can-value='xcoord' name='xcoord', rangelength='1,100', required)
        td
          div.width80 所在列：
        td
          input.round.default-width-input(type='text', can-value='ycoord' name='ycoord', rangelength='1,100', required)
        td
          div.width80 所在层：
        td
          input.round.default-width-input(type='text', can-value='zcoord' name='zcoord', rangelength='1,100', required)

p &nbsp;

.col-md-offset-10.col-md-2
  button.button.round.blue.image-right.ic-add#addLocation 保存
