form#filterSelector
  input.round.default-width-input#factor(type='text', name='factor', placeholder='搜索...')

  span.width100　　　　
  span 仓库选择：
  input.round.default-width-input#warehouseSelector(type='text', name='warehouseId')

  span.width40　　　
  span 是否使用：
  input#unusedSelector(type='checkbox', name='unused')

div#locationList
