form#filterSelector
  input.round.default-width-input#factor(type='text', name='factor', placeholder='搜索...')

  span.width40　　 
  span 仓库：
  input.round.default-width-input#warehouseSelector(type='text', name='warehouseId')

  span.width40　　 
  input#unusedSelector(type='checkbox', name='unused') 
  span 未使用

div#locationList
