form#filterSelector
  input.round.default-width-input(type='text', name='factor', placeholder='搜索名称、地址、描述...')

  input#select.my_button.round.blue.text-upper(type='button', name='select', value='搜索', style='margin-left:5px;')

div#warehouseList
