form.second-body
  table.width300(border='0')
    tr
      td 用户名：
      td(colspan='2')
        input.login(type='text', can-value='username')
    tr
      td 密&nbsp;&nbsp;&nbsp;码：
      td(colspan='2')
        input.login(type='password', can-value='password')
    tr
      td
      td(colspan='2')
        input(type='checkbox')
        span 记录我
    tr
      td.text-center(colspan='3')
        button.login_button 登录
        button.reset_botton 重置
