
<form class="second-body">
  <table border="0" class="width300">
    <tr>
      <td>用户名：</td>
      <td colspan="2">
        <input type="text" can-value="username" class="login"/>
      </td>
    </tr>
    <tr>
      <td>密&nbsp;&nbsp;&nbsp;码：</td>
      <td colspan="2">
        <input type="password" can-value="password" class="login"/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">
        <input type="checkbox"/><span>记录我</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="text-center">
        <button class="login_button">登录</button>
        <button class="reset_botton">重置</button>
      </td>
    </tr>
  </table>
</form>