div#content
  div.page-full-width.cf
    div.side-menu.fl
      h3 客户管理
      ul
        li
          a(href='/#!home/clientManagement/newClient') 新增客户
      ul
        li
          a(href='/#!home/clientManagement') 客户列表

    div.side-content.fr
      input.round.my_text_box(type='text')
      input.my_button.round.blue(type='button', value='搜    索')

      div.fr
        input.my_button.round.blue(type='button', value='全    选')
        input.my_button.round.blue(type='button', value='全不选')

      table
        thead
          tr
            th(data-options="field:'locked', width:60") 选择
            th(data-options="field:'name', width:100") 姓名
            th(data-options="field:'address', width:100") 地址
            th(data-options="field:'contacts_name', width:100") 联系人
            th(data-options="field:'contacts_tel', width:100") 联系号码
            th(data-options="field:'contacts_email', width:100") 联系邮箱
            th(data-options="field:'desc', width:100") 其他
        tbody

      //- div.easyui-pagination(data-options="fit:true,total:0, showPageList: false, showRefresh: false, displayMsg: ''")


