
.col-md-12
  .panel.panel-default
    .panel-heading
      font(size=5, color='black') 系统概要
    .panel-body
      .col-md-offset-1.Center-Container.is-Table
        .col-md-4.Table-Cell
          .panel.panel-info
            .panel-heading.height100
              .Center-Block
                font(size=5, color='black') 进货单总数 {{totalInNumber}}
        .col-md-4.Table-Cell
          .panel.panel-warning
            .panel-heading.height100
              .Center-Block
                font(size=5, color='black') 出货单总数 {{totalOutNumber}}
        .col-md-4.Table-Cell
          .panel.panel-primary
            .panel-heading.height100
              .Center-Block
                font(size=5, color='black') 商品总数 {{totalGoodsNumber}}
        .col-md-4.Table-Cell
          .panel.panel-danger
            .panel-heading.height100
              .Center-Block
                font(size=5, color='black') 供应商总数 {{totalSupplierNumber}}
        .col-md-4.Table-Cell
          .panel.panel-default
            .panel-heading.height100
              .Center-Block
                font(size=5, color='black') 收货人总数 {{totalConsigneeNumber}}
        .col-md-4.Table-Cell
          .panel.panel-success
            .panel-heading.height100
              .Center-Block
                font(size=5, color='black') 品牌总数 {{totalBrandNumber}}

.col-md-12
  .panel.panel-default
    .panel-heading
      font(size=5, color='black') 今日入库
    .panel-body
      #stockIn

.col-md-12
  .panel.panel-default
    .panel-heading
      font(size=5, color='black') 今日出库
    .panel-body
      #stockOut
