div.fullHeight#content
  div.page-full-width.cf
    div.side-menu.fl
      h3 {{name}}
      ul#menuList

    div.side-content.fr
      div.content-module-heading.cf
        h3 {{name}}
      div.content-module-main.cf
        div#rightWorkspace
