
.navbar.navbar-default
  div.collapse.navbar-collapse.page-full-width
    ul.nav.navbar-nav#tabs
      li
        a.width60.dashboard-tab(href='/#!home') 概览

    ul.nav.navbar-nav.navbar-right
      li
        a 欢迎 {{username}}
      li
        a(href='#!logout') 退出
