{{message}}
<div id="mainLayout" data-options="fit:true" class="easyui-layout">
  <div data-options="region:'north'" style="height:100px"><span>欢迎</span><span id="username"></span><a href="#/logout">退出</a></div>
  <div data-options="region:'west', iconCls:'icon-tip'" style="width:200px" title="系统菜单">
    <div id="leftMenu" data-options="border:false,height:300" class="easyui-accordion"></div>
  </div>
  <div data-options="region:'center', iconCls:'icon-ok'" title="工作区域">
    <div id="workspace">
      <div ui-view=""></div>
    </div>
  </div>
</div>