.easyui-layout#mainLayout(data-options='fit:true')
  div(data-options="region:'north'", style='height:100px')
    span 欢迎
    span#username
    a(href='#/logout') 退出
  div(data-options="region:'west', iconCls:'icon-tip'", style='width:200px', title='系统菜单')
    div.easyui-accordion#leftMenu(data-options="border:false,height:300")

  div(data-options="region:'center', iconCls:'icon-ok'", title='工作区域')
    div#workspace
      //- div#tab.easyui-tabs(style="width:100%;height:250px")
      //-   div(title="About" style="padding:10px")
      //-   div(title="Title2")
      //-   div(title="Title3")
      div(ui-view='')
