div.easyui-window#winNewUser(title="新增用户" data-options="modal:true,closed:true" style="padding:5px;")
  form.height320#newUser
    table(border=0)
      tr(height='20px;')
        td 登陆名&nbsp;&nbsp;&nbsp;：
        td(colspan=1)
          input.textbox.easyui-validatebox(type='text', can-value='username', data-options="required:true,validType:'length[2,20]'")
        td 登陆密码：
        td(colspan=1)
          input.textbox.easyui-validatebox(type='text', can-value='password', data-options="required:true,validType:'length[2,20]'")
      tr
        td 用户昵称：
        td(colspan=1)
          input.textbox.easyui-validatebox(type='text', can-value='cname', data-options="required:true,validType:'length[2,100]'")
        td 电话号码：
        td
          input.textbox.easyui-validatebox(type='text', can-value='tel', data-options="required:true,validType:'length[2,100]'")

      tr
        td 用户地址：
        td(colspan=3)
          input.textbox.easyui-validatebox(type='text', can-value='address', data-options="required:true,validType:'length[2,100]'", style='width:410px;')

      tr
        td 用户角色：
        td
          .easyui-combobox#roles(can-value='roles')
        td 关联客户：
        td
          input.easyui-combogrid#clientSelector(can-value='client', data-options="required:true,validType:'length[2,100]'")


  button.pull-right.login_button#save(style='margin-left:500px;') 保存
