div.easyui-window#win(title="{{title}}" data-options="modal:true,closed:true" style="padding:5px;")
  form.easyui-form#newClient(data-options="novalidate:true")
    table.fullHeight(border=0)
      tr(height='20px;')
        td 客户姓名：
        td(colspan=1)
          input#clientName(type='text', can-value='name', data-options="required:true,validType:'length[2,20]'")
        td 客户地址：
        td(colspan=1)
          input#clientAddress(type='text', can-value='address', data-options="required:true,validType:'length[2,100]'")
      tr
        td(colspan=4)
          h2.text-center(height='20px;') 联系人
          table(border=0)
            tr
              td.text-center 姓名
              td.text-center 电话
              td.text-center 邮箱
            tr
              td
                input(type='text', can-value='contact1.name', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact1.tel', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact1.email', data-options="required:true,validType:'email")
            tr
              td
                input(type='text', can-value='contact2.name', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact2.tel', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact2.email', data-options="required:true,validType:'email")
            tr
              td
                input(type='text', can-value='contact3.name', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact3.tel', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact3.email', data-options="required:true,validType:'email")
            tr
              td
                input(type='text', can-value='contact4.name', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact4.tel', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact4.email', data-options="required:true,validType:'email")
            tr
              td
                input(type='text', can-value='contact5.name', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact5.tel', data-options="required:true,validType:'length[2,20]'")
              td
                input(type='text', can-value='contact5.email', data-options="required:true,validType:'email")
      tr
        td(colspan=3)
          textarea.fullHeight(can-value='desc', placeholder="其他...")
        td.text-center(colspan=1)
          button.login_button#save 保存
