
<div id="win" title="{{title}}" data-options="modal:true,closed:true" style="padding:5px;" class="easyui-window">
  <form id="newClient" data-options="novalidate:true" class="easyui-form">
    <table border="0" class="fullHeight">
      <tr height="20px;">
        <td>客户姓名：</td>
        <td colspan="1">
          <input id="clientName" type="text" can-value="name" data-options="required:true,validType:'length[2,20]'"/>
        </td>
        <td>客户地址：</td>
        <td colspan="1">
          <input id="clientAddress" type="text" can-value="address" data-options="required:true,validType:'length[2,100]'"/>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h2 height="20px;" class="text-center">联系人</h2>
          <table border="0">
            <tr>
              <td class="text-center">姓名</td>
              <td class="text-center">电话</td>
              <td class="text-center">邮箱</td>
            </tr>
            <tr>
              <td>
                <input type="text" can-value="contact1.name" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact1.tel" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact1.email" data-options="required:true,validType:'email"/>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" can-value="contact2.name" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact2.tel" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact2.email" data-options="required:true,validType:'email"/>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" can-value="contact3.name" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact3.tel" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact3.email" data-options="required:true,validType:'email"/>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" can-value="contact4.name" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact4.tel" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact4.email" data-options="required:true,validType:'email"/>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" can-value="contact5.name" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact5.tel" data-options="required:true,validType:'length[2,20]'"/>
              </td>
              <td>
                <input type="text" can-value="contact5.email" data-options="required:true,validType:'email"/>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <textarea can-value="desc" placeholder="其他..." class="fullHeight"></textarea>
        </td>
        <td colspan="1" class="text-center">
          <button id="save" class="login_button">保存</button>
        </td>
      </tr>
    </table>
  </form>
</div>