div#content
  div.page-full-width.cf
    div.side-menu.fl
      h3 用户管理
      ul
        li
          a(href='/#!home/userManagement/newUser') 新增用户
      ul
        li
          a(href='/#!home/userManagement') 用户列表

    div.side-content.fr
      input.round.my_text_box(type='text')
      input.my_button.round.blue(type='button', value='搜    索')

      div.fr
        input.my_button.round.blue(type='button', value='全    选')
        input.my_button.round.blue(type='button', value='全不选')

      #userList
